*,  *::after, *::before {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
 
:root{
    --cell-size: 100px;
    --mark-size: calc(var(--cell-size)* 0.9);
    --bg-color:#feffdf;
}

body{
    margin: 0px;
    background: #668ba4; 
}

.board{
    display: grid ;
    background: var(--bg-color);
    height: 50vh;
    width: 100vw;
    justify-content: center;
    align-content: center;

    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);


}

.cell{
    width: var(--cell-size);
    height: var(--cell-size);

    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid black;
    position: relative;
    

}

h1{
    text-align: center;
    margin-bottom: 64px;
    font-size: 44px;
    font-weight: bolder;
    color:#97cba9 ;
}

.cell:first-child,.cell:nth-child(2), .cell:nth-child(3){
    border-top: none ;
}

.cell:nth-child(3n+1){
    border-left: none;
}

.cell:nth-child(3n+3){
    border-right: none;
}

.cell:last-child,.cell:nth-child(8), .cell:nth-child(7){
    border-bottom: none ;
}

.cell.x::before, .cell.x::after{
    content: "";
    width: calc(var(--mark-size) * .15);
    height: var(--mark-size);
    background-color: black;
    position: absolute;
    
}

.cell.x::before{
    transform: rotate(45deg);
}

.cell.x::after{
    transform:rotate(-45deg)
}

.cell.circle::before, .cell.circle::after{
    content: "";
    
    
    position: absolute;
    border-radius: 50%;
}

.cell.circle::before{
    width: var(--mark-size) ;
    height: var(--mark-size);
    background-color: black;

}

.cell.circle::after{
    width: calc(var(--mark-size) * .7);
    height: calc(var(--mark-size) * .7);
    background-color: var(--bg-color);
}

.player{
    text-align: center;
    color: #feffdf;
    font-size: 1.5rem;
    margin-bottom: 64px;
}

.btn-container{
    display: flex;
    align-items: start;
    justify-content: center;
    padding: 64px;

}

button{
    padding: 16px 32px;
    border: none;
    background-color: #feffdf;
    color: black;
    border-radius: 16px;
    cursor: pointer;
}

button:hover{
    color: #668ba4;
    background-color: beige;
}

button:active{
    transform: scale(1.05);
}

.footer{
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    align-items: end;
    color: #feffdf;
    font-size: 10px;
    width: 100vw;
    
}